
*,
::before,
::after {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

body {
    padding: 0;
    font-family: "Barlow", "Arila", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
}




table {
    border-collapse: collapse;
}


th ,td {
    padding: 10px;
    border: 1px solid black;
     text-align: center;
}

